In [2]:
%cd /workspaces/mlops-zoomcamp/01-intro/data

[WinError 3] The system cannot find the path specified: '/workspaces/mlops-zoomcamp/01-intro/data'
C:\Users\admin\OneDrive\Desktop\PeriyDL\MLOps\mlops-zoomcamp\01-intro

In [5]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2024-01.parquet

SyntaxError: invalid syntax (1090510746.py, line 1)

In [12]:
%cd /workspaces/mlops-zoomcamp/01-intro/data

/workspaces/mlops-zoomcamp/01-intro/data

In [13]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2024-02.parquet

--2024-09-07 06:27:50--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2024-02.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.164.82.40, 3.164.82.197, 3.164.82.160, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.164.82.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1283805 (1.2M) [binary/octet-stream]
Saving to: ‘green_tripdata_2024-02.parquet.1’

green_tripdata_2024 100%[===================>]   1.22M  1.64MB/s    in 0.7s

2024-09-07 06:27:51 (1.64 MB/s) - ‘green_tripdata_2024-02.parquet.1’ saved [1283805/1283805]

In [14]:
!ls /workspaces/mlops-zoomcamp/01-intro/data

green_tripdata_2024-01.parquet	green_tripdata_2024-02.parquet.1
green_tripdata_2024-02.parquet

In [15]:
import pandas as pd

In [17]:
df = pd.read_parquet('/workspaces/mlops-zoomcamp/01-intro/data/green_tripdata_2024-01.parquet')

In [18]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.80,1.0,0.5,3.61,0.0,NaN,1.0,21.66,1.0,1.0,2.75
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.30,1.0,0.5,7.11,0.0,NaN,1.0,42.66,1.0,1.0,2.75
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.80,1.0,0.5,3.00,0.0,NaN,1.0,28.05,1.0,1.0,2.75
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.20,1.0,1.5,0.00,0.0,NaN,1.0,16.70,2.0,1.0,0.00
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.60,1.0,0.5,6.28,0.0,NaN,1.0,31.38,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56546,2,2024-01-31 20:46:00,2024-01-31 20:55:00,None,NaN,33,25,NaN,0.00,11.58,0.0,0.0,3.14,0.0,NaN,1.0,15.72,NaN,NaN,NaN
56547,2,2024-01-31 21:06:00,2024-01-31 21:11:00,None,NaN,72,72,NaN,0.49,11.58,0.0,0.0,0.00,0.0,NaN,1.0,12.58,NaN,NaN,NaN
56548,2,2024-01-31 21:36:00,2024-01-31 21:40:00,None,NaN,72,72,NaN,0.52,11.58,0.0,0.0,2.52,0.0,NaN,1.0,15.10,NaN,NaN,NaN
56549,2,2024-01-31 22:45:00,2024-01-31 22:51:00,None,NaN,41,42,NaN,1.17,14.22,0.0,0.0,0.00,0.0,NaN,1.0,15.22,NaN,NaN,NaN
56550,2,2024-01-31 22:28:00,2024-01-31 22:59:00,None,NaN,33,91,NaN,9.27,44.62,0.0,0.0,4.56,0.0,NaN,1.0,50.18,NaN,NaN,NaN

In [1]:
print("aaa")

aaa