In [7]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-17.0.0-cp39-cp39-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\admin\anaconda3\envs\gpu_env\lib\site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-17.0.0-cp39-cp39-win_amd64.whl (25.1 MB)
   ---------------------------------------- 0.0/25.1 MB ? eta -:--:--
   --- ------------------------------------ 2.1/25.1 MB 10.7 MB/s eta 0:00:03
   ----- ---------------------------------- 3.1/25.1 MB 9.2 MB/s eta 0:00:03
   ------ --------------------------------- 3.9/25.1 MB 6.3 MB/s eta 0:00:04
   ------- -------------------------------- 5.0/25.1 MB 6.0 MB/s eta 0:00:04
   --------- ------------------------------ 6.0/25.1 MB 5.9 MB/s eta 0:00:04
   ----------- ---------------------------- 7.1/25.1 MB 5.9 MB/s eta 0:00:04
   ----------- ---------------------------- 7.3/25.1 MB 5.6 MB/s eta 0:00:04
   ------------ --------------------------- 7.6/25.1 MB 5.0 MB/s eta 0:00:04
   -------------- ------------------------- 8.9/25.1 MB 4.9 MB/s eta 0:00:04
   ----------------- ---------------------- 10.7/25.1 MB 5.2 MB/s eta 0:00:03
   ------------------ --------------------- 11.5/25.1 MB 5.3 MB/s eta 0:00:03
   -------------------- ------------------- 12.6/25.1 MB 5.1 MB/s eta 0:00:03
   --------------------- ------------------ 13.6/25.1 MB 5.2 MB/s eta 0:00:03
   ----------------------- ---------------- 14.7/25.1 MB 5.1 MB/s eta 0:00:03
   ------------------------ --------------- 15.5/25.1 MB 5.1 MB/s eta 0:00:02
   -------------------------- ------------- 16.5/25.1 MB 5.0 MB/s eta 0:00:02
   ---------------------------- ----------- 18.1/25.1 MB 5.2 MB/s eta 0:00:02
   ------------------------------- -------- 19.7/25.1 MB 5.4 MB/s eta 0:00:02
   -------------------------------- ------- 20.7/25.1 MB 5.3 MB/s eta 0:00:01
   ------------------------------------ --- 22.8/25.1 MB 5.6 MB/s eta 0:00:01
   ------------------------------------- -- 23.9/25.1 MB 5.6 MB/s eta 0:00:01
   -------------------------------------- - 24.4/25.1 MB 5.4 MB/s eta 0:00:01
   ---------------------------------------- 25.1/25.1 MB 5.4 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-17.0.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\admin\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\admin\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\admin\appdata\roaming\python\python39\site-packages)
WARNING: Error parsing dependencies of llvmlite: [Errno 2] No such file or directory: 'c:\\users\\admin\\anaconda3\\envs\\gpu_env\\lib\\site-packages\\llvmlite-0.42.0.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -atplotlib (c:\users\admin\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\admin\appdata\roaming\python\python39\site-packages)

In [3]:
import pandas as pd

In [4]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [6]:
# 1. tpep_dropoff_datetime/tpep_pickup_datetime are given as string in df so we need to convert them to datetime
# 2. convert duration to minutes

df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])
df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])

df['duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime'] 
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0,0 days 00:19:48
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0,0 days 00:06:36
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0,0 days 00:17:55
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0,0 days 00:08:18
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0,0 days 00:06:06

In [7]:
df.duration = df.duration.apply(lambda td: td.total_seconds()/60)
df[80:90]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration
80,2,2024-01-01 00:21:22,2024-01-01 00:45:26,1.0,1.88,1.0,N,234,162,2,20.5,1.0,0.5,0.00,0.0,1.0,25.50,2.5,0.0,24.066667
81,2,2024-01-01 00:52:30,2024-01-01 01:10:29,1.0,1.84,1.0,N,162,113,1,16.3,1.0,0.5,5.33,0.0,1.0,26.63,2.5,0.0,17.983333
82,2,2024-01-01 00:08:48,2024-01-01 00:09:33,1.0,0.05,1.0,N,246,68,1,3.0,1.0,0.5,0.08,0.0,1.0,8.08,2.5,0.0,0.750000
83,2,2024-01-01 00:33:59,2024-01-01 00:39:53,1.0,0.71,1.0,N,48,142,1,7.2,1.0,0.5,3.66,0.0,1.0,15.86,2.5,0.0,5.900000
84,1,2024-01-01 00:27:13,2024-01-01 00:29:51,2.0,0.20,1.0,N,170,233,1,4.4,3.5,0.5,0.00,0.0,1.0,9.40,2.5,0.0,2.633333
85,1,2024-01-01 00:50:29,2024-01-01 01:42:04,4.0,2.30,1.0,N,43,186,2,40.1,3.5,0.5,0.00,0.0,1.0,45.10,2.5,0.0,51.583333
86,1,2024-01-01 00:54:24,2024-01-01 01:28:53,1.0,9.50,1.0,N,233,181,1,44.3,3.5,0.5,9.85,0.0,1.0,59.15,2.5,0.0,34.483333
87,2,2024-01-01 00:27:02,2024-01-01 01:03:56,1.0,5.91,1.0,N,262,244,1,35.2,1.0,0.5,8.04,0.0,1.0,48.24,2.5,0.0,36.900000
88,2,2024-01-01 00:21:00,2024-01-01 00:46:17,1.0,1.51,1.0,N,68,50,1,21.2,1.0,0.5,4.74,0.0,1.0,28.44,0.0,0.0,25.283333
89,2,2024-01-01 00:50:40,2024-01-01 01:13:44,1.0,1.11,1.0,N,50,233,2,20.5,1.0,0.5,0.00,0.0,1.0,23.00,0.0,0.0,23.066667

In [19]:
!pip uninstall matplotlib seaborn

^C

In [16]:
import seaborn as sns
import matplotlib.pyplot as plt

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\admin\AppData\Local\Temp\ipykernel_27292\2870131861.py", line 1, in <module>
    import seaborn as sns
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\seaborn\__init__.py", line 9, in <module>
    from .matrix import *  # noqa: F401,F403
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\seaborn\matrix.py", line 16, in <module>
    from . import cm
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\seaborn\cm.py", line 2, in <module>
    from seaborn._compat import register_colormap
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\seaborn\_compat.py", line 8, in <module>
    from seaborn.utils import _version_predates
ImportError: cannot import name '_version_predates' from 'seaborn.utils' (C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\seaborn\utils.py)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\IPython\core\interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "C:\Users\admin\anaconda3\envs\gpu_env\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [14]:
g = sns.displot(df['duration'])
g.set_axis_labels("Duration", "Count")
g.set(xlim=(-5, 125))  # Replace with the range you're interested in

NameError: name 'sns' is not defined

In [ ]:
df['duration'].describe()

In [ ]:
((df.duration >= 1) & (df.duration <= 60)).mean()

In [ ]:
df['duration'].describe()